.Notes {

  display: flex;
  flex-flow: row;
  margin-top: 20px;
  border-radius: 5px;
  border-left: 6px solid green;
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.2);
  padding: 0.1px;

}
.Notes .NotesDetails {
  width: 96%;
}
.NotesDetails .P1 {
  font-size: 12px;
  font-weight: normal;
  margin-left: 20px;
  padding: 5px;
}

.NotesDetails .P2 {
  font-family: DMSans;
  font-size: 12px;
  font-weight: normal;
  margin-left: 20px;
  color: #9ea0a3;
}

.Notes .Menubtn p{
  font-family: DMSans;
  font-size: 12px;
  font-weight: normal;
  margin-left: 20px;
  color: #9ea0a3;
  cursor: pointer;
}
