.Input{
    width: 100%;
    padding: 10px;
     text-align: center; 
     margin-left: 36%;
    /* display: flex;
    flex-flow: column;
    align-items: center; */

}

.Label{
    font-weight: bold;
    display: block;
    width: 20%;
    color: teal;
    text-align: left;

}

.InputElement{
    outline: none;
    border: 1px solid #ccc;
    background-color: white;
    font: inherit;
    padding: 6px;
    display: block;
    width: 100%;
    transition: padding 0.5s,width 0.5s;
    border-radius: 5px;

}

/* .InputElement:focus{
    outline: none;
    background-color: lightgray;
    padding:7.6px;
    width: 22.7%;

} */

.Btn{
    padding: 10px;
    width: 100px;
    border: 0px ;
    border-radius: 2px;
    background-color: #ccc;
    color: salmon;
    text-align: center;
    font-size: 20px;
    font-weight: bold;

}
.Invalid{
    border: 1px solid red;
    background-color: salmon;
}

.ErrorMessage{
    color: red;
    font-weight: normal;
    margin:1px 0px;
    text-align: left;
    margin-left:0px;
}