
button { 
    min-width: 100%;
    cursor: pointer;
    margin-right: 0.25em;
    margin-top: 0.5em;
    padding: 	0.938em;
    border: none;
    border-radius: 4px;
    width: 431px;
    height: 36px;
    line-height: normal;
    background-image: linear-gradient(92deg, #14b349 -109%, #09a04f 209%);
  }
   