.Toggle {
  display: flex;
  flex-flow: row;
  margin-top: 55px;
}

.Toggle a {
  width: 46px;
  height: 18px;
  font-family: DMSans;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #152d4e;
  text-decoration: none;
}


a:active,
a:hover,
a:visited {
  text-decoration: underline;
}
