.ContactDetails {
  display: flex;
  flex-flow: row;
  margin-top: 30px;
  margin-left: 15px;
}
.ContactDetails img {
  vertical-align: middle;
}
.ContactDetails p {
  margin: 0;
  margin-left: 40px;
  width: 146px;
  height: 21px;
  font-family: DMSans;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #1cb54f;
}
