.Quote {
  display: flex;
  flex-flow: row;
  width: 336px;
  height: 19px;
  font-family: DMSans;
  font-size: 14px;
  font-weight: 500;
  color: #152d4e;
  margin: 0 auto;
  margin-top: 20px;
}

.Details .QuoteDetails {
  width: 446px;
  height: auto;
  font-family: DMSans;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #152d4e;
  margin: 0 auto;
  margin-top: 20px;
}
