.outer-main-div{
    background-color: #14b349;
    height: 650px;
}
.container{ 
    width: 1140px;
    height: 588px;


    background-color:#ffffff;
    display: flex;  
    margin-left:100px;
    flex-direction: column;
}
.main-container{
    display: flex;
    flex-direction: row;

    height: 470px;
}
.formDiv{
    display: flex;
    flex-direction: column;
    height: 470px;
    
}
.button-container{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}

.PEEKaMEET-lets-you-n {
    margin-top: 10px;
    width: 500px;
    height: 55px;
    font-family: DMSans;
    font-size: 25px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #152d4e;
    margin-bottom: 13px;
  }
.button1,.button2,.button3,.button4,.button5,.button6{
    object-fit: contain;
    margin: 5px;
    border-radius: 15px;
    border:white;
    height:30px
    
}
.button1{
  background-color: rgba(241, 124, 43, 0.18);
  color: #f17c2b
}
.button2{
    background-color: rgba(150, 54, 143, 0.18);
    color: #96368f
  }
  .button3{
    background-color: rgba(26, 150, 145, 0.18);
    color: #1a9691
  }
  .button4{
    background-color: rgba(230, 49, 131, 0.18);
    color: #e63183
  }
  .button5{
    background-color: rgba(0, 128, 175, 0.17);
    color: #0080af
  }
  .button6{
    background-color: rgba(231, 33, 44, 0.18);
    color:#e7212c
  }

  .Build-and-manage-you {
    margin-top: 13px;
    width: 431px;
    height: 24px;
    font-family: DMSans;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #152d4e;
  }


  .rememberme
  {
  margin-left:200px;
  }
.bottom-para1,.bottom-para2{
    text-align: center;
}
.bottom-para1{
    margin-top: 15px;
    margin-left:-100px;
}
.before-footer{
    display: flex;
    flex-direction: row;
}
.before-footer > div{
    margin: 40px;
}