.BusinessAddress{
    margin-top: 20px;
    margin-left: 10px;
    width: 170px;

}
.BusinessAddress p{
    margin: 0;
    padding: 4px 0px;
}

.BusinessAddress .Heading{
    width: 98px;
  height: 16px;
  font-family: DMSans;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #9ea0a3;
}

.MainAddress{
    width: 121px;
  height: 21px;
  font-family: DMSans;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #152d4e;
}

.DetailedAddress{
    width: 170px;
    height: 21px;
    font-family: DMSans;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #1cb54f;
  
}