.UserDetails {
  text-align: center;
  margin-top: 30px;
}

.UserDetails p {
  margin: 0;
  padding: 5px;
}

.UserDetails .P1 {
  font-family: DMSans;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #152d4e;

}

.UserDetails .P2 {
  font-family: DMSans;
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #152d4e;

}

.UserDetails .P3 {
  font-family: DMSans;
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #152d4e;

}
